h2 {
  display: inline;
  margin-right: 10px;
}

body {
  text-align: center;
}

 .column {
  display: block;
  background-color: #f2f2f2;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.column h3 {
  font-size: 24px;
  color: #333;
}

.column p {
  font-size: 18px;
  color: #666;
}

.currencies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.currencies a {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.currencies a:hover {
  background-color: #0056b3;
}